/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@charset "UTF-8";

/* reset */
* {
  margin: 0; padding: 0;
}
ul, ol {
  list-style: none;
}
img {
  border-style:none;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  /* for being responsive */
  max-width: 100%; height: auto; width: auto; 
}
button, input {
  line-height: normal;
}
a {
  text-decoration: none;
}

/* fonts */
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Ｐゴシック", "MS PGothic";
}

/* common */

.margin-top-20 { margin-top: 20px; }
.margin-bottom-20 { margin-bottom: 20px; }

.hidden {
  display: none;
}
.transparent {
  filter: alpha(opacity=65);
  -moz-opacity:0.65;
  opacity:0.65;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear{
  clear:both;
  font-size: 0px;
  line-height: 0em;
}
