// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article .pages {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.article .page {
  margin-top: 50px;
}

@media screen and (min-width: 801px) {
  .article .page {
    float: right;
    width: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .article .page {
    width: 100%;
    text-align: center;
  }
}
