body {
  background: #BC5911;
}

header {
  background: #BC5911;
  padding: 10px 20px;
}
header h1 {
  font-size: 100%;
}
header h1 a {
  color: white;
  font-weight: normal;
}

.content-wrapper {
  background: white;
}
.content {
  max-width: 1000px;
  margin: auto;
  min-height: 400px;
}

.element-wrapper {
  border-bottom: solid 1px #BC5911;
}
.element-caption {
  border-bottom: solid 1px #BC5911;
  color: #BC5911;
}
.element-content {
  padding: 15px 0;
}

footer {
  min-height: 100px;
  background: #BC5911;
  font-size: 75%;
  color: white;
}
footer>div {
  max-width: 1000px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
}

/* ------ */

.soundcloud {
  width: 800px;
  margin: auto;
}
